html,body{
	height: 100%;
}
header{
	background:brown;
	color: white;
}

.title{
	
	padding-bottom: 2em;
	text-align: center;
	max-height: 150px;




}
h1{
	font-size: 6.5em;
	margin:0;
	font-family: 'DM Serif Text', serif;
}
.title p{
	font-size: 1.2em;
	color:lightgreen;
	margin:0;
	font-family: 'Caveat', cursive;

}

header ul{
	display: flex;
	background: midnightblue;
	margin:0;
	justify-content: space-around;
	padding-bottom: 2em;


}

nav ul li{
	list-style: none;
	
	padding: 0.2em;
	font-size: 1.5em;
	

}
nav ul li:hover{
	background:grey;

}

a{
	text-decoration: none;
	color:white;

}
label{
	margin:1em;
	font-size: 4em;
	line-height: 70px;
	display: none;

}
#toggle{
	display: none;
}
.dropdown-1{
	display: none;
	font-size: 0.55em;
}
nav ul li:hover .dropdown-1 {
	display: block;
	margin:0;
	width:15%;
	padding: 0.8em;
	position:absolute;
	text-align: left;
}
nav ul li:hover .dropdown-1 ul{
	display: block;
	padding:1em;
}
nav ul li:hover .dropdown-1 ul li{
	background:transparent;
	
	border-radius: 0;

}
nav ul li:hover .dropdown-1 ul li:hover{
	background: rgb(37, 52, 128);
}
.about{
	background: lightyellow;
	color: darkblue;
	padding: 2px;

}
/*main*/
main{
	min-height: 100%;
	background:lightgrey;
	margin:0;

}
.fidcampus{
	
	margin-bottom:1em;
	padding: 1em;
	text-align: center;
	background:lightyellow;
	
}
.fidcampus img{
	max-height:650px;
	width:100%; 
}
.fidcampus h2{
	font-size:3em;
	color: steelblue;
}
.fidcampus p{
	padding: 2.5em;
	margin:0;
}
.container{
	display: flex;
	justify-content: space-between;

}
.horizontal{
	width: 70%;
	margin:1em;
	padding:1em;
	background:lightyellow;

}
.horizontal h2{
	font-size: 2em;
	color: steelblue;
}
.vertical{
	width:20%;
	margin:1em;
	padding:1em;
	background:white;
	color: darkblue;
	text-align: center;
	border-top:5px solid darkblue;
	font-size: .75em;

}
.vertical h2:hover{
	background: rgb(172, 137, 196);
}


footer{
	background: lightyellow;
	margin:0;
	text-align: center;
}
footer p{
	background: rgb(39, 21, 51);
	color: rgb(100, 87, 110);
	height: 50px;
	padding-top: 0.5em;
}

.footer-content{
	display: flex;
	justify-content: space-around;
}
.fc-1{
	
	padding: 1em;
	margin:1em;
}
.fc-1 ul {
	text-align: left;
	padding-left: 1em;
	margin:0;
	font-size: .85em;
	color: darkblue;
}
.fc-1 h2{
	font-size: 1.3em;
	color:darkblue;
	margin-bottom:1em; 
}
@media (max-width: 1260px){
	.title{
	
	padding: 5em;
	text-align: center;

	



	}
	h1{
	font-size: 6.8em;
	
	margin:0;
	font-family: 'DM Serif Text', serif;
	}
	.title p{
	font-size: 2.5em;
	color:lightgreen;
	margin:0;
	font-family: 'Caveat', cursive;

	}
	nav ul li a{
	font-size: 1em;
	}
	

	nav ul li:hover .dropdown-1 {
	display: block;
	margin:0;
	width:80%;
	padding: 3em;
	position:absolute;
	
    }
    nav ul li:hover .dropdown-1 ul li{
	background:transparent;
	padding: 1em;
	border-radius: 0;
	font-size:0.85em;
	margin:0;

 	}
	
	label{
		display: block;
		cursor: pointer;
		width: 35px;
		float: right;
		color:grey;
		font-size:;
	}
	nav{
		clear: both;
		max-height: 0px;
		transition: max-height 1s ease-out;

		
	}
	nav ul {

		display: block;
		font-size:2em;
		text-align: left;


	}
	
	
	#toggle:checked + nav{
		display: block;
		max-height: 500px;

	}
	.footer-content{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}